.card {
    color: black;
    border: 0;
}

.card-img {
    height: 550px;
    margin-bottom: 0;
}

.card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-title {
    display: inline;
    font-weight: bolder;
    margin-bottom: 0;
    font-size: 4.5rem;
}

.card-text {
    font-size: 2rem;
}

.container-text {
    display: flex;
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;

}

p {
    margin-bottom: 0;
    padding: 0;
}

h5 {
    padding: 0;
    margin-top: 0;
}

h1 {
    margin: 20px;
    text-align: center;
    font-family: 'Charm';
    border-bottom: 10px;
    padding: 20px;
    font-size: 2.5rem;
    font-weight: bolder;
}

