.detalle {
    height: 400px;
    width: 400px;
}

.text-uppercase {
    color: #5a5656;
}

.lead {
    font-weight: bolder;
    text-align: center;
}

.display-6 {
    font-weight: bolder;
    text-align: center;
    font-size: 3rem;
}

.lead1 {
    margin-bottom: 5px;
}

.btn {
    font-family: 'Charm';
}